.App{
  text-align: center;
  display:flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: black;
  background: rgb(155 143 255 / 25%);
}

.btn{
  color: black;
  padding:5px 25px;
  font-size: 20px;
  margin: 10px;
  text-transform: uppercase;
  width: 300px;
  border-radius:5rem;
}
.btn:hover{
  color:white;
  border-radius: 0rem;
}